.footerSection{
    width: 75vh;
    margin: 100px auto;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.footerIcons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    font-size: 40px;
    color: #21243d;
    margin-bottom: 30px;
}

.footerCopyright{
    font-weight: 400;
}

@media only screen and (max-width: 850px) {
    .footerSection{
        width: 100%;
        margin: 40px 0px;
    }
    .footerIcons{
        font-size: 35px;
        justify-content: space-around;
    }

    .footerCopyright{
        font-size: 18px;
    }
}